<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div class="container">

    <div class="row">

        <div class="col-xs-6">
            <h3>Events
                <small>per 10 sec</small>
            </h3>
            <canvas id="bar" class="chart chart-bar"
                    chart-data="data" chart-labels="barLabels">
            </canvas>
        </div>

        <div class="col-xs-6">
            <h3>Events
                <small>per protocol per 10 sec</small>
            </h3>
            <canvas id="line" class="chart chart-line" chart-data="graphdata"
                    chart-labels="graphlabels" chart-legend="true" chart-series="graphseries"
                    chart-colours="givenColour"
                    chart-click="onClick">
            </canvas>
        </div>

    </div>

    <hr/>

    <div class="row">
        <div class="col-xs-6">
            <h3>User usage
                <small>top 10 user's of last hour</small>
            </h3>
            <div class="gridStyle" ng-grid="gridOptions1"></div>
        </div>
        <div class="col-xs-6">
            <h3>Policy usage
                <small>top 10 policy's of last hour</small>
            </h3>
            <div class="gridStyle" ng-grid="gridOptions2"></div>
        </div>
    </div>

</div>

<br/>
<br/>

</body>


</html>
